@inherits Flowbite.Base.FlowbiteComponentBase

<div class="@GetSlideClasses()" style="@Style" @attributes="AdditionalAttributes">
    @if (!string.IsNullOrEmpty(ImageSrc))
    {
        <img src="@ImageSrc" alt="@ImageAlt" title="@ImageTitle" class="@GetImageClass()" />
    }
    else if (ChildContent != null)
    {
        @ChildContent
    }
</div>
