@inherits Flowbite.Base.FlowbiteComponentBase
@using System.Text

@if (Href != null)
{
    <a href="@Href"
       target="@Target"
       class="@GetButtonClasses()"
       @onclick="HandleClick"
       @attributes="AdditionalAttributes">
        <span class="inline-flex items-center">
            @if (Loading)
            {
                <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM10.4537 50.5908C10.4537 73.1604 28.2834 90.9752 50.5908 90.9752C72.8981 90.9752 90.7279 73.1604 90.7279 50.5908C90.7279 28.0212 72.8981 10.2064 50.5908 10.2064C28.2834 10.2064 10.4537 28.0212 10.4537 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.3902C85.8452 15.385 80.8826 11.0192 75.2124 7.49373C69.5422 3.96833 63.2754 1.1838 56.7698 0.190846C50.2643 -0.806149 43.6314 0.523658 37.6782 3.65466C31.7251 6.78566 26.4995 11.6833 22.5623 17.7423C18.6251 23.8013 16.1248 30.8844 15.4289 38.3457C14.7331 45.8069 16.0574 53.3366 19.2083 60.1671C22.3593 66.9976 27.2137 72.8138 33.5569 77.1306C39.9001 81.4474 47.4615 84.1145 55.3797 84.8291C63.2979 85.5437 71.2585 83.2694 78.1189 78.3825C79.5634 77.2259 79.8467 75.1392 78.8201 73.5619C77.7935 71.9846 75.7479 71.6921 74.2034 72.8487C68.4095 77.0848 61.4268 79.0852 54.3344 78.5404C47.242 78.0095 40.4684 75.0538 35.0943 70.0623C29.7202 65.0709 26.0181 58.2805 24.5744 50.8682C23.1307 43.4559 24.0422 35.7714 27.2032 28.9402C30.3642 22.109 35.6536 16.4681 42.2804 12.6667C48.9072 8.86533 56.5197 7.04333 64.1568 7.48867C71.7939 7.93402 79.1231 10.6073 85.1861 15.1735C87.4703 16.9347 90.4302 15.0653 89.7327 12.2182C89.4132 10.9623 89.0264 9.72211 88.5739 8.50497C87.3996 5.48614 84.1282 4.11785 81.3505 5.32895C78.5728 6.54005 76.9585 9.53739 75.9143 12.4025" fill="#1C64F2"/>
                </svg>
            }
            @if (Icon != null)
            {
                <span class="mr-2">
                    <DynamicComponent Type="@Icon.GetType()" Parameters="@(new Dictionary<string, object> { { "Class", IconCssClassOverrides } })" />
                </span>
            }
            @ChildContent
        </span>
    </a>
}
else
{
    <button type="@Type" 
            class="@GetButtonClasses()" 
            disabled="@Disabled"
            @onclick="HandleClick"
            @attributes="AdditionalAttributes">
        <span class="inline-flex items-center">
            @if (Loading)
            {
                <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM10.4537 50.5908C10.4537 73.1604 28.2834 90.9752 50.5908 90.9752C72.8981 90.9752 90.7279 73.1604 90.7279 50.5908C90.7279 28.0212 72.8981 10.2064 50.5908 10.2064C28.2834 10.2064 10.4537 28.0212 10.4537 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.3902C85.8452 15.385 80.8826 11.0192 75.2124 7.49373C69.5422 3.96833 63.2754 1.1838 56.7698 0.190846C50.2643 -0.806149 43.6314 0.523658 37.6782 3.65466C31.7251 6.78566 26.4995 11.6833 22.5623 17.7423C18.6251 23.8013 16.1248 30.8844 15.4289 38.3457C14.7331 45.8069 16.0574 53.3366 19.2083 60.1671C22.3593 66.9976 27.2137 72.8138 33.5569 77.1306C39.9001 81.4474 47.4615 84.1145 55.3797 84.8291C63.2979 85.5437 71.2585 83.2694 78.1189 78.3825C79.5634 77.2259 79.8467 75.1392 78.8201 73.5619C77.7935 71.9846 75.7479 71.6921 74.2034 72.8487C68.4095 77.0848 61.4268 79.0852 54.3344 78.5404C47.242 78.0095 40.4684 75.0538 35.0943 70.0623C29.7202 65.0709 26.0181 58.2805 24.5744 50.8682C23.1307 43.4559 24.0422 35.7714 27.2032 28.9402C30.3642 22.109 35.6536 16.4681 42.2804 12.6667C48.9072 8.86533 56.5197 7.04333 64.1568 7.48867C71.7939 7.93402 79.1231 10.6073 85.1861 15.1735C87.4703 16.9347 90.4302 15.0653 89.7327 12.2182C89.4132 10.9623 89.0264 9.72211 88.5739 8.50497C87.3996 5.48614 84.1282 4.11785 81.3505 5.32895C78.5728 6.54005 76.9585 9.53739 75.9143 12.4025" fill="#1C64F2"/>
                </svg>
            }
            @if (Icon != null)
            {
                <span class="mr-2">
                    <DynamicComponent Type="@Icon.GetType()" Parameters="@(new Dictionary<string, object> { { "Class", IconCssClassOverrides } })" />
                </span>
            }
            @ChildContent
        </span>
    </button>
}
