
@inherits FlowbiteComponentBase

@if (string.IsNullOrEmpty(Href))
{
    <div class="@ComponentClasses" @attributes="AdditionalAttributes">
        @if (!string.IsNullOrEmpty(ImgSrc))
        {
            <img src="@ImgSrc" alt="@ImgAlt" class="@GetImageClasses()" />
        }
         @ChildContent
    </div>
}
else
{
    <a href="@Href" class="@ComponentClasses" role="article" @attributes="AdditionalAttributes">
        @if (!string.IsNullOrEmpty(ImgSrc))
        {
            <img src="@ImgSrc" alt="@ImgAlt" class="@GetImageClasses()" />
        }
        @ChildContent
    </a>
}
