
@inherits FlowbiteComponentBase
@using Microsoft.JSInterop

@if (CopyToClipboard)
{
    var codeToDisplay = $"\n{Code}\n\n";

    <div class="relative rounded" @onclick="() => OnClipboardClicked()">
        
        <pre @ref="@_ref" class="@CombineClasses(LanguageClass, Class, "w-full flex")">
            <code id="@Id" class="@LanguageClass">@codeToDisplay</code>
        </pre>

        <div class="absolute top-1 right-1 hidden rounded-lg max-w-min text-gray-300 hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 lg:block dark:text-gray-300 dark:hover:bg-gray-700 dark:focus:ring-gray-700"> 
            <CopyToClipboardButton @ref="@_copyToClipboardReference" TextToCopy="@Code" Class="ml-1" />
        </div>
        
    </div>
}
else
{
    <pre @ref="@_ref" class="@CombineClasses(LanguageClass, Class)"><code id="@Id" class="@LanguageClass">@Code</code></pre>
}             

@code
{
    private ElementReference _ref;
    private CopyToClipboardButton? _copyToClipboardReference;

    [Parameter]
    public string? Id { get; set; }

    [Parameter, EditorRequired]
    public string? Code { get; set; }

    [Parameter]
    public string? Language { get; set; }

    [Parameter]
    public bool CopyToClipboard { get; set; } = false;

    [Parameter]
    public bool FullWidth { get; set; } = false;

    [Inject]
    private IJSRuntime? JSRuntime { get; set; }

    protected string LanguageClass => $"language-{Language}";

    protected override async Task OnAfterRenderAsync( bool firstRender )
    {
        if( firstRender && JSRuntime is not null)
        {
            await JSRuntime.InvokeVoidAsync( "Prism.highlightAllUnder", _ref );
        }
    }

    private async Task OnClipboardClicked()
    {
        if (_copyToClipboardReference is not null)
        {
            await _copyToClipboardReference.CopyToClipboard();
        }
    }
}
