@using Flowbite.Base
@inherits FlowbiteComponentBase

<div class="relative">
    @if (Addon != null)
    {
        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-lg dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
            @Addon
        </span>
    }
    <div class="relative">
        @if (Icon != null)
        {
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <DynamicComponent Type="@Icon" Parameters="@(new Dictionary<string, object> { { "class", "w-5 h-5 text-gray-500 dark:text-gray-400" } })" />
            </div>
        }
        <select value="@Value"
               @onchange="@(async (ChangeEventArgs e) => await ValueChanged.InvokeAsync(e.Value?.ToString()))"
               class="@SelectClass" 
               disabled="@Disabled"
               id="@Id"
               @attributes="@AdditionalAttributes">
            @ChildContent
        </select>
        @if (!string.IsNullOrEmpty(HelperText))
        {
            <p class="mt-2 text-sm @GetHelperTextColorClass()" role="note">@HelperText</p>
        }
    </div>
</div>
