@using Flowbite.Base
@inherits FlowbiteInputBase<string?>

<div class="@GetWrapperClasses()" style="@Style">
    @if (Addon != null)
    {
        <span class="@GetAddonClasses()">
            @Addon
        </span>
    }
    <div class="@GetFieldClasses()">
        @if (Icon != null)
        {
            <div class="@GetIconClasses()">
                <DynamicComponent Type="@Icon" Parameters="@(new Dictionary<string, object>
                {
                    { "class", "h-5 w-5 text-gray-500 dark:text-gray-400" },
                    { "aria-hidden", true }
                })" />
            </div>
        }
        <select @bind="CurrentValue"
               class="@GetSelectClasses()"
               disabled="@Disabled"
               id="@Id"
               @attributes="@AdditionalAttributes">
            @ChildContent
        </select>
    </div>
</div>
@if (!string.IsNullOrEmpty(HelperText))
{
    <p class="@GetHelperTextClasses()">
        @HelperText
    </p>
}
