
@inherits FlowbiteComponentBase

<div class="@GetClasses()">
    @if (!string.IsNullOrEmpty(Href))
    {
        <a href="@Href" class="flex items-center justify-between p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <div class="flex items-center">
                @if (Icon != null)
                {
                    <DynamicComponent Type="@Icon.GetType()" Parameters="@(new Dictionary<string, object>
                    {
                        { "class", "w-5 h-5 text-gray-500 transition duration-75 motion-reduce:transition-none dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" },
                        { "aria-hidden", true },
                    })" />
                }
                <span class="ms-3">@ChildContent</span>
            </div>
            @if (!string.IsNullOrEmpty(Label))
            {
                <span class="@GetLabelClasses()">@Label</span>
            }
        </a>
    }
    else
    {
        <div class="flex items-center justify-between p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <div class="flex items-center">
                @if (Icon != null)
                {
                    <DynamicComponent Type="@Icon.GetType()" Parameters="@(new Dictionary<string, object>
                    {
                        { "class", "w-5 h-5 text-gray-500 transition duration-75 motion-reduce:transition-none dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" },
                        { "aria-hidden", true },
                    })" />
                }
                <span class="ms-3">@ChildContent</span>
            </div>
            @if (!string.IsNullOrEmpty(Label))
            {
                <span class="@GetLabelClasses()">@Label</span>
            }
        </div>
    }
</div>
