@inherits FlowbiteComponentBase
@implements IAsyncDisposable

<div class="relative inline-block"
     @onclick="HandleClick"
     @onmouseenter="HandleMouseEnter"
     @onmouseleave="HandleMouseLeave"
     @onfocusin="HandleFocus"
     @onfocusout="HandleFocusOut"
     @onblur="HandleBlur"
     @onkeydown="HandleKeyDown"
     aria-describedby="@(_isVisible ? _id : null)"
     data-floating-trigger="@_id">
    @ChildContent

    @if (_isVisible)
    {
        <div class="@GetTooltipClasses()"
             data-floating-element="@_id"
             role="tooltip"
             id="@_id">
            <div class="relative z-20">
                @Content
            </div>
            @if (Arrow)
            {
                <div class="@GetArrowClasses()" data-floating-arrow="@_id"></div>
            }
        </div>
    }
</div>
